header{text-align: center;}
header{border-bottom: 2px solid black;}
div img{width: 450px;;height: auto;}
div img{width: 450px;;height: auto;}
div img{aspect-ratio: 2/1;}



header

body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
    
}
    


 body {
    background-color: #25167a;
}

@media(min-width: 50rem) {
    body {
        background-color: #351fb7;
    }
}



