header{text-align: center;}
header{border-bottom: 3px solid black;}

div img{width: 450px;;height: auto;}
div img{width: 450px;;height: auto;}
div img{aspect-ratio: 1.5/1;}

header

body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
  
    
}

img {
      background-color: #888;
      border: 1px solid #000;
      border-radius: 20px;
      width: 800px;
      height: 500px;
      overflow: hidden;
}


    
body{padding-bottom: 10%;}



 body {
     background-color: #25167a;
}

@media(min-width: 50rem) {
     body {
         background-color: #351fb7;
      }
}



